<div class="container-fluid">

  <!-- Shows a breadcrumb. Use that to go back -->
  <div class="row">
    <nav class="m-2">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item active">All Albums</li>
      </ol>
    </nav>
  </div>

  <!--
    Each Album is shown as a card.
    IMPORTANT : Show only if 'response' is available
  -->
  <div class="row" *ngIf="response">
    <div class="d-flex p-1" *ngFor="let album of response.albums">
      <div class="card">
        <a [routerLink]="['/photos',album.id]">
          <img
            [src]="album.coverPhotoBaseUrl"
            class="card-img-top album-card"
          />
        </a>
        <div class="card-body">
          <h6 class="card-title">
            {{ album.title }}
          </h6>
        </div>
      </div>
    </div>
  </div>

  <!--
     IMPORTANT : Show only if 'error' is available
  -->
  <div class="row alert alert-danger" *ngIf="error">
      {{ error.message }}
  </div>

</div>
